---
import Icon from "./Icon.astro";
---

<div class="mb-5 text-3xl w-full font-bold">About Me</div>
<div class="flex flex-col md:grid md:grid-cols-3 gap-6 mb-10">
	<div
		class="border border-solid border-neutral rounded-xl p-6 flex flex-col gap-2 lg:gap-4"
	>
		<Icon icon="terminal-window" color="hsl(var(--p))" size="2.5rem" />
		<h2 class="text-3xl font-bold">Aspiring Data Analyst</h2>
		<p class="text-gray-500">
			Driven by a passion for uncovering insights in numbers and committed
			to continuous learning and growth
		</p>
	</div>
	<div
		class="border border-solid border-neutral rounded-xl p-6 flex flex-col gap-2 lg:gap-4"
	>
		<Icon icon="strategy" color="hsl(var(--p))" size="2.5rem" />
		<h2 class="text-3xl font-bold">Analytical Mindset</h2>
		<p class="text-gray-500">
			Leveraging strong analytical skills and curiosity to excel in data
			analysis, with a focus on extracting, cleaning, and visualizing data
		</p>
	</div>
	<div
		class="border border-solid border-neutral rounded-xl p-6 flex flex-col gap-2 lg:gap-4"
	>
		<Icon icon="trophy" color="hsl(var(--p))" size="2.5rem" />
		<h2 class="text-3xl font-bold">Data Enthusiast</h2>
		<p class="text-gray-500">
			Dedicated to contributing to projects that reveal patterns, trends,
			and opportunities through data exploration and analysis
		</p>
	</div>
</div>
