---
const today = new Date();
---

<footer class="footer footer-center block py-5">
	<div class="pb-2">
		&copy; {today.getFullYear()} Farhanah Izzati
	</div>
	<div class="inline opacity-75 hidden sm:block">
		<!-- Thanks for using this template. You can keep this line to support my work :) -->
		Developed using
		<a
			href="https://astrofy-template.netlify.app/"
			target="_blank"
			class="font-bold">Astrofy Template</a
		> by
		<a
			href="https://manuelernestog.github.io"
			target="_blank"
			class="font-bold">Manuel Ernesto ⚡️</a
		>
	</div>
</footer>
<style></style>
