---
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
	<label for="my-drawer" class="drawer-overlay"></label>
	<aside
		class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col"
	>
		<p class="text-center text-xl font-semibold py-3 sm:hidden">
			Farhanah Izzati 🌱
		</p>

		<SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />

		<div class="px-4 pb-5 pt-1 text-center">
			<p class="text-sm">
				Developed with
				<a
					href="https://astro.build/"
					target="_blank"
					class="font-bold"
				>
					Astro 🚀
				</a>
			</p>
		</div>
	</aside>
</div>
